body {
  background-color: #02162c;
  color: white;
  padding: 10px;
  margin: 0;
}

header {
  background-color: gray;
  color: white;
  height: 50px;
  padding: 60px;
  justify-content: space-between;
  border: solid 10px black;
  border-radius: 5%;
}

header li {
  list-style: none;
  padding: 10px;
}

header ul {
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  margin-top: -15px;
}

main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main li {
  list-style: none;
  padding: 17px;
}

main ul {
  display: flex;
  justify-content: center;
  margin-right: 50px;
}

section {
  display: flex;
  padding: 10px;
  border: solid 5px black;
}

article {
  display: inline-block;
  padding: 10px;
}

p {
  height: 300px;
  overflow: auto;
  float: right;
}

/* Scrollable container */
p {
  height: 300px;
  width: 300px;
  overflow: auto;
}
/* Hover State with a transition */
button {
  transition: 350ms;
}
/* Button turns red over 350ms, transition is ALWAYS set to parent element NOT THE HOVER */
button:hover {
  background-color: black;
  color: white;
}

footer {
  background-color: gray;
  color:white;
  width: auto;
  padding: 10px;
  display: flex;
  height: 150px;
  border: solid 5px black;
}